.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4f46e5;
  padding: 15px 30px;
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 0 0 12px 12px;
}

.navbar h2 {
  margin: 0;
  font-size: 22px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-right span {
  font-weight: 500;
}

.navbar-right button {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  background: #f59e0b;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.navbar-right button:hover {
  background: #d97706;
}
